services:
  - type: web
    name: IttInternet-HW3
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: CI
        value: "false"
      - key: GENERATE_SOURCEMAP
        value: "false"
      - key: DISABLE_ESLINT_PLUGIN
        value: "true"
