<<<<<<< HEAD
services:
  - type: web
    name: IttInternet-HW3
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
=======
services:
  - type: web
    name: IttInternet-HW3
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
>>>>>>> c7b1a5ae741d08e68bf6bb9abc06aeab60905818
